* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 16px;
    color: #fff;
    font-family: 'oxygen', sans-serif; 
    background-color: #61122f;
}

.navbar-brand img {
    float: left;
}
.navbar-brand h1{
    text-transform: uppercase;
    color: #557c3e;
    font-family: 'lora';
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #222;
    line-height: .75;

}
.navbar-brand span {
    color: #951c49;
}
.navbar-brand {
    text-decoration: none;
}
span {
    color: #000;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 0.7em;
}
.navbar {
    background-color: #f6b319 !important;
}
#navbarNav {   /* for ul*/ 
    margin: 8px 30px 5px 0;
    justify-content: end;
    align-self: baseline;

}
.nav-link {
    gap: 15px;
    text-align: center;
}
svg, #phone a span, .nav-item a, .nav-link {
    color: #951c49;
    --bs-nav-link-color: #951c49;
    --bs-navbar-active-color: #951c49;
}
.nav-item a:hover {
    background-color: #e7e7e7;
}
.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}
#phone {
    text-align: right;
}
#phone a {
    text-decoration: none;
    padding-bottom: 0;
}
#phone a span {
    font-size: 1.8em;
}
#phone div {
    padding-right: 8px;
    margin-top: -6px;
    color: #557c3e;
}
.navbar-toggler{
    border: 2px solid #611225;
}
.hero-img {
    border: 2px solid #3f0c3f;
    border-radius: 10px;
    box-shadow: 0 0 50px #3f0c3f;

}

#menu-tile, #special-tile, #map-tile {
    position: relative;
    border-radius: 5px;
    height: 250px;
    width: 100%;
    border: solid 2px #3f0c3f;
    overflow: hidden;
}
    a {
    text-decoration: none;
}
#menu-tile:hover, #special-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
    background: url(../images/menu-tile.jpg) no-repeat center;
}

#special-tile {
    background: url(../images/specials-tile.jpg) no-repeat center;
}

#menu-tile span, #special-tile span, #map-tile span {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1.3em;
    color: white;
    text-align: center;
    opacity: .6;
    background-color: #000;
}

@media (min-width: 391px) and (max-width: 576px) {
    #menu-tile, #special-tile {
        width: 360px;
        margin: 0 auto 15px;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) { 
    .navbar-brand h1 {
        padding-top: 5px;
        font-size: 2.5vw;
    }
    .navbar-brand {
        margin: 0px;
        padding: 0;
    }
    .navbar {
        padding-bottom: 0;
    }
    .navbar-brand span {
        margin-top: -50px;
        text-align: start; 
        vertical-align: middle;
        font-size: 0.5em;
    }
    .navbar-brand img {
        margin-top: 5px;
        margin-right: 2px;
        width: 3vw;
        height: 3vw;

    };
    
   #res-head{
        padding-top: 5px;
    }
     .bg-img {
        background: url(../images/restaurant-logo_small.png) no-repeat;
        width: 055px;
        height: 050px;
        float: left;
    }

    #menu-tile, #special-tile {
        margin-bottom: 15px;
    }

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px){ 
    .navbar-brand h1 {
        padding: 15px 0 0px 0; 

    } 
    .bg-img {
        background: url(../images/restaurant-logo_medium.png) no-repeat;
        width: 100px;
        margin-right: 5px;
        height: 100px;
        float: left;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-brand h1 {
        padding: 15px 0 0px 0; 
    } 
    .bg-img {
    float: left;
    background: url(../images/restaurant-logo.png) no-repeat ;
    width: 150px;
    margin: 0 3% 0 1%;
    height: 150px;
}
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #menu-tile, #special-tile {
        background-size: 100% 250px;
    }
}
@media (max-width: 480px) { 
    .navbar-brand h1 {
        font-size: 3vw;
    } 
    .navbar-brand img {
        margin-top: 12px;
        width: 2vw;
        height: 2vw;
    } 
    .navbar-brand span {
        font-size: 2vw;
    }
    .navbar {
        padding-bottom: 3px;
    }
}