* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 16px;
    color: #fff;
    font-family: 'oxygen', sans-serif; 
    background-color: #61122f;
}

.navbar-brand img {
    float: left;
    margin: 0 3% 0 1%;
}
.navbar-brand h1{
    text-transform: uppercase;
    color: #557c3e;
    padding: 25px 0 0px 0; 
    font-family: 'lora';
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #222;
    line-height: .75;

}
.navbar-brand span {
    color: #951c49;
}
.navbar-brand {
    text-decoration: none;
}
span {
    color: #000;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 0.7em;
}
.navbar {
    background-color: #f6b319 !important;
}
#navbarNav {   /* for ul*/ 
    margin-right: 30px;
    justify-content: end;
    align-self: baseline;

}
.nav-link {
    gap: 15px;
    text-align: center;
}
svg, #phone a span, .nav-item a, .nav-link {
    color: #951c49;
    --bs-nav-link-color: #951c49;
    --bs-navbar-active-color: #951c49;
}
.nav-item a:hover {
    background-color: #e7e7e7;
}
#phone {
    text-align: right;
}
#phone a {
    text-decoration: none;
    padding-bottom: 0;
}
#phone a span {
    font-size: 1.8em;
}
#phone div {
    padding-right: 8px;
    margin-top: -6px;
    color: #557c3e;
}